<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>

        </div>
        <div class="container">
            <table class="registartion-form">
            <tr><td><h2 align="center">CHRONIC KIDNEY DISEASE PREDICTION RESULT</h2></td></tr>
            <br>
            <div  style="font-weight: bold; font-size:20px; color:black;">
            <br>
            <tr><td><span style="font-weight: bold; color:blue;">{{ pname }}</span>, your prediction of chronic kidney disease is 
                <span style="font-weight: bold; color:rgb(255, 0, 0);">{{ res }}</span></P></td></tr>
            </div>
            </table>
        </div>
    </body>
</html>